@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Travel Way<br />
    Broad Ripple, IN 46220 <br />
    <abbr title="Phone">P:</abbr>
    317.555.0100
</address>

<address>
    <strong>Tech Support:</strong>   <a href="mailto:TraveLogTechSupport@example.com">TraveLogTS@example.com</a><br />
    <strong>Customer Service:</strong> <a href="mailto:TraveLogCustomerService@example.com">TraveLogCS@example.com</a>
</address>