@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TraveLog</h1>
    <p class="lead">
        Write your memories from your travels you took solo
        or with family and/or friends. Your adventure awaits...
    </p>
    <p><a href="https://travelogdeployment.azurewebsites.net/Location/Create" class="btn btn-primary btn-lg">Start Logging Here &raquo;</a></p>
</div>

<div class="col-md-3">
    <h2>Shortcut to Lists </h2>
    <p><a class="btn btn-default" href="https://travelogdeployment.azurewebsites.net/Location">Location &raquo;</a>
    <a class="btn btn-default" href="https://travelogdeployment.azurewebsites.net/Country">Country &raquo;</a></p>
    <p><a class="btn btn-default" href="https://travelogdeployment.azurewebsites.net/Visited">Visit &raquo;</a>
    <a class="btn btn-default" href="https://travelogdeployment.azurewebsites.net/Blog">Blog &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Check out photos</h2>
        <p>Log into your iCloud account and view the photos you took on your adventure</p>
        <p><a class="btn btn-default" href="https://www.icloud.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Connect on the Gram</h2>
        <p>Jump on your IG and check out some cool spots you put on the web for strangers, friends and family to see</p>
        <p><a class="btn btn-default" href="https://www.instagram.com">Learn more &raquo;</a></p>
    </div>
</div>